body {
  background-color: black;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p:first-letter {
  color: red;
}
h1:first-letter {
  color: red;
}
h3:first-letter {
  color: red;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: black;
  margin-bottom: 200px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

@media (min-width:576px) and (max-width: 992px) {
  .menu__body {
    display: none;
  }

  .textmodel {
    text-align: center;
  }

  .text2 {
    text-align: left;
    display: block;
  }

  .button .btn {
    margin-right: 10px;
    margin-top: 10px;
    padding: 0.9em 1.05em;
  }
  .boxmodel {
    width: 400px;
    flex-wrap: wrap;
    column-count: auto;
  }
  .content {
    margin: inherit;
    width: 400px;
    flex-wrap: wrap;
    column-count: auto;
  }
  .contanting {
    width: 400px;
    flex-wrap: wrap;
    column-count: auto;
  }
  .content h2 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .menu__body {
    display: none;
  }
  .boxmodel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
  .button .btn {
    margin-right: 10px;
    margin-top: 15px;
    padding: 0.4em 0.5em;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textmodel {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .textmodel {
    display: flex;
  }
  .textmodel>div:first-child {
    flex: 1;
  }     
  .textmodel>div:last-child {
    flex: 3;
  }
}

.fon {
  background-image: url(Fon.jpg);
  width: 100%;
  margin: auto;
}
.boxmodel {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.boxmodel div {
  width: 200px;
  height: 200px;
}

.ava {
  width: 200px;
  height: 200px;
}

.ava2 {
  width: 190px;
  height: 200px;
}

.textmodel  {
  color: white;
  background: none;
  height: 50%;
  position: relative;
}

.content {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content div {
  float: left;
  background: black;
  border: 20px red;
  box-sizing: border-box;
  color: white;
  text-align: left;
  height: 300px;
}

.h1,
h2:hover {
  color: red;
}

.ava:hover {
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.ava2:hover {
  opacity: 0.4;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.possition {
  width: 5px;
  height: 5px;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  float: left;
}

.text2 {
  position: inherit;
  float: left;
  margin-left: 8%;
}

.text2 h3 {
  position: relative;
  margin-top: 10px;
}
.text2 p {
  position: relative;
  bottom: 20px;
}

.third {
  border-color: white;
  color: black;
  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 red;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin-right: 40px;
  margin-top: 5px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  float: right;
  position: relative;
}
.btn:hover,
.btn:focus {
  color: black;
  outline: 0;
}

.buttom {
  position: relative;
  margin-top: 10px;
  display: flex;
}
